<!DOCTYPE html>
<html>
	<head>
		<title>Persona provisioning</title>
		<script src="https://login.persona.org/provisioning_api.js"></script>
		<script>
			function userHasSession(email) {
				var xhr = new XMLHttpRequest();
				var url = {{ .URL }};

				var postData = JSON.stringify({
					'email': email
				});

				xhr.open('POST', url, false);
				xhr.send(postData);
				if (xhr.status != 200) {
					return false;
				}
				return true;
			}

			function generateCertificate(email, publicKey, certDuration) {
				var xhr = new XMLHttpRequest();
				var url = '/persona/certificate';

				var postData = JSON.stringify({
					'email': email,
					'public-key': JSON.parse(publicKey),
					'duration': certDuration
				});

				xhr.open('POST', url, false);
				xhr.send(postData);
				if (xhr.status != 200) {
					return;
				}
				navigator.id.registerCertificate(xhr.responseText);
			}

			navigator.id.beginProvisioning(function(email, certDuration) {
				if (!userHasSession(email)) {
					navigator.id.raiseProvisioningFailure('user is not authenticated as target user');
					return;
				}

				navigator.id.genKeyPair(function(publicKey) {
					generateCertificate(email, publicKey, certDuration);
				});
			});
		</script>
	</head>
	<body>
	</body>
</html>
